body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebar {
    width: 250px;
    height: calc(100vh - 70px);
    background-color: #f9f9f9;
    color: white;
    position: fixed;
    top: 47px;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding-top: 20px;
    transition: width 0.3s ease; 
}

.main-content {
    margin-left: 240px;
    margin-right: -10px;
    margin-top: -15px;
    padding: 0px;
    background-color: #f9f9f9;
    height: 1000px;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 5px;
    transition: margin-left 0.3s ease; 
}


@media (max-width: 1200px) {
    .sidebar {
        width: 200px; 
        top: 50px;
    }

    .main-content {
        margin-left: 190px; 
        height: 890px;
    }

    .header {
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}











@media screen and (max-width: 768px) {
    .sidebar {
        width: 90px; 
        top: 87px;
    }

    .main-content {
        margin-left: 60px; 
        height: 2000px;
    }

    .header {
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .user-icon {
        width: 35px;
        height: 35px;
    }

    .user-icon img {
        width: 35px;
        height: 35px;
    }

    .user-name {
        font-size: 14px;
        margin-right: 10px;
    }

    .logo {
        font-size: 14px;
        margin-left: 10px;
    }

    .logo-img {
        width: 20px;
        height: 20px;
    }

    .date {
        font-size: 12px;
    }

    .logout-btn {
        font-size: 14px;
    }

    .sidebar-header ul li a {
        padding: 10px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .sidebar-header ul li a::after {
        content: none; 
    }

    .sidebar-header ul li a i:not(.fa-home) {
        display: none; 
    }

    .sidebar-header ul li a i.fa-home {
        font-size: 20px;
        margin: 0;
        color: #333;
    }

    .sidebar-header ul li a {
        text-indent: -9999px; /* Ocultar texto moviéndolo fuera de la pantalla */
        width: 40px; /* Ancho fijo para el ícono */
    }

    .sidebar-header ul li a i.fa-home {
        text-indent: 0; /* Restaurar visibilidad del ícono */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Contenedor-principal */
    .contenedor-principal ul li a {
        padding: 10px;
        display: flex;
        justify-content: center; /* Centrar el ícono */
        position: relative;
    }

    .contenedor-principal ul li a i.fa-check-circle {
        display: none; /* Ocultar ícono de check */
    }

    .contenedor-principal ul li a i:not(.fa-check-circle) {
        font-size: 20px;
        margin: 0;
        color: #333; /* Asegurar visibilidad */
    }

    /* Ocultar texto en contenedor-principal */
    .contenedor-principal ul li a {
        text-indent: -9999px; /* Ocultar texto moviéndolo fuera de la pantalla */
        width: 40px; /* Ancho fijo para el ícono */
    }

    .contenedor-principal ul li a i:not(.fa-check-circle) {
        text-indent: 0; /* Restaurar visibilidad del ícono */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Contenedor-seccion (submenús) */
    .contenedor-seccion {
        margin-left: 0; /* Quitar margen extra */
    }

    .contenedor-seccion h3 {
        padding: 10px;
        text-align: center;
        position: relative;
    }

    .contenedor-seccion h3 span {
        display: none; /* Ocultar texto del título */
    }

    .contenedor-seccion h3 i.fa-check-circle {
        display: block;
        margin: 0 auto; /* Centrar el ícono de check */
        font-size: 20px;
        color: #4CAF50; /* Asegurar visibilidad */
    }

    .contenedor-seccion ul li a {
        padding: 10px;
        display: flex;
        justify-content: center; /* Centrar el ícono */
        position: relative;
    }

    .contenedor-seccion ul li a i.fa-caret-right {
        display: none; /* Ocultar flecha */
    }

    .contenedor-seccion ul li a i:not(.fa-caret-right) {
        font-size: 20px;
        margin: 0;
        color: #333; /* Asegurar visibilidad */
    }

    /* Ocultar texto en contenedor-seccion */
    .contenedor-seccion ul li a {
        text-indent: -9999px; /* Ocultar texto moviéndolo fuera de la pantalla */
        width: 40px; /* Ancho fijo para el ícono */
    }

    .contenedor-seccion ul li a i:not(.fa-caret-right) {
        text-indent: 0; /* Restaurar visibilidad del ícono */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Sidebar-informacion y footer */
    .sidebar-informacion,
    .sidebar-footer {
        display: none; /* Ocultar información y footer en móviles */
    }
}

/* Media Query para pantallas muy pequeñas (≤480px) */
@media screen and (max-width: 480px) {
    .sidebar {
        width: 80px; /* Reducir aún más el ancho */
        top: 128px;
    }

    .main-content {
        margin-left: 50px;
    }

    .header {
        padding: 5px;
        flex-direction: column;
        align-items: flex-start;
    }

    .user-icon {
        width: 30px;
        height: 30px;
    }

    .user-icon img {
        width: 30px;
        height: 30px;
    }

    .user-name {
        font-size: 12px;
    }

    .logo {
        font-size: 12px;
    }

    .logo-img {
        width: 18px;
        height: 18px;
    }

    .date {
        font-size: 10px;
    }

    .logout-btn {
        font-size: 12px;
    }

    .contenedor-principal ul li a i:not(.fa-check-circle),
    .contenedor-seccion ul li a i:not(.fa-caret-right),
    .sidebar-header ul li a i.fa-home {
        font-size: 18px; /* Reducir tamaño de íconos */
    }

    .contenedor-seccion h3 i.fa-check-circle {
        font-size: 18px;
    }
}

























iframe {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar-informacion {
    padding: 10px 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    margin-bottom: 60px;
    text-align: center;
}


.sidebar-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #666;
    background-color: #f9f9f9;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.sidebar-informacion p{
color: #666;
}

.user-icon {
    width: 40px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 10px;
}

.user-icon img {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-right: 20px;
}

.logo {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.logo-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.date {
    font-size: 14px;
    color: #333;
    margin-right: 15px;
}

.logout-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-btn i {
    margin-right: 8px;
}

.logout-btn:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu-btn {
        font-size: 24px;
        margin-right: 10px;
    }

    .user-icon {
        width: 35px;
        height: 35px;
        font-size: 16px;
        margin-right: 5px;
    }

    .user-name {
        font-size: 14px;
        margin-right: 10px;
    }

    .logo {
        font-size: 20px;
        flex-grow: 1;
        justify-content: flex-start;
        text-align: left;
        margin-left: 10px;
    }

    .logo-img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    .date {
        font-size: 14px;
        margin-right: 10px;
    }

    .logout-btn {
        font-size: 16px;
        margin-left: 10px;
    }

    .logout-confirmation {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 5px;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-btn {
        font-size: 20px;
    }

    .user-icon {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .user-name {
        font-size: 12px;
        margin-right: 5px;
    }

    .logo {
        font-size: 18px;
        margin-left: 5px;
    }

    .logo-img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .date {
        font-size: 12px;
        margin-right: 5px;
    }

    .logout-btn {
        font-size: 14px;
        margin-left: 5px;
    }

    .logout-confirmation {
        width: 100%;
        padding: 5px;
    }
}

.sidebar-header {
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid #cacaca;
}

.sidebar-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-header ul li {
    padding: 10px 0;
    text-align: left;
}

.sidebar-header ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.sidebar-header ul li a:hover {
    background-color: #d8d8d8;
    color: #333;
    border-radius: 10px;
}

.sidebar-header ul li a i {
    color: #4CAF50;
    margin-right: 10px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .sidebar-header {
        padding: 15px;
    }

    .sidebar-header ul li a {
        font-size: 16px;
        padding: 8px 12px;
    }

    .sidebar-header ul li a i {
        font-size: 18px;
    }
}

.contenedor-principal {
    padding: 2px;
    background-color: #f9f9f9;
    border-radius: 10px;

}

.contenedor-principal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contenedor-principal ul li {
    padding: 6px 0;

}

.contenedor-principal ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.contenedor-principal ul li a:hover {
    background-color: #e3e3e3;
    color: #333;
    border-radius: 10px;
}

.contenedor-principal ul li a i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

#icons-icon-implantes,
#icons-icon-consignacion,
#icons-icon-administrativa,
#icons-icon-prestaciones,
#icons-icon-accesos{
    color: #333;
}


#check-icon-implantes,
#check-icon-consignacion,
#check-icon-administrativa,
#check-icon-prestaciones,
#check-icon-accesos{
    color: #4CAF50;
}

@media (max-width: 768px) {
    .contenedor-principal {
        padding: 15px;
    }

    .contenedor-principal ul li a {
        font-size: 16px;
        padding: 6px 10px;
    }

    #icons-icon {
        font-size: 18px;
    }

    #check-icon {
        font-size: 16px;
    }
}

.contenedor-seccion {
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-left: 20px;

}

.contenedor-seccion h3 {
    color: #333;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 10px 10px;
    cursor: pointer;
}

.contenedor-seccion h3:hover {
    background-color: #e3e3e3;
    color: #333;
    border-radius: 10px;
    padding: 10px 10px;

}

.fas.fa-check-circle {
    color: #4CAF50;
}

.contenedor-seccion ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contenedor-seccion ul li {
    padding: 4px 0;
}

.contenedor-seccion ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.contenedor-seccion ul li a:hover {
    background-color: #e3e3e3;
    color: #333;
    border-radius: 10px;
}

.contenedor-seccion ul li a i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}



.fas.fa-chevron-right {
    transition: transform 0.3s ease;
    color: #4CAF50;
}

.rotated {
    transform: rotate(90deg);
}

.submenu {
    list-style-type: none;
    background-color: #f9f9f9;
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 30px;
    width: 150px;
}

.submenu li a {
    padding: 2px 6px;
    color: #666;
    font-size: 12px;
}

.submenu li a:hover {
    background-color: #16a085;
    color: white;
    border-radius: 10px;
}

.submenu li {
    padding: 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.submenu li a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 2px 6px;
}

.submenu li a:hover {
    background-color: #ececec;
    border-radius: 10px;
}

.submenu li i {
    font-size: 14px;
    margin-right: 10px;
    color: #333;
}

.submenu li + li {
    margin-top: 0px;
}

.fas.fa-caret-right {
    color: #4CAF50;
}

.logout-confirmation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .logout-confirmation-container.active {
    visibility: visible;
    opacity: 1;
  }
  
  .logout-confirmation-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .logout-confirmation-content h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .logout-confirmation-content i {
    font-size: 40px;
    color: #f0ad4e;
  }
  
  .logout-confirmation-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  .btn-confirm {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-confirm:hover {
    background-color: #c9302c;
  }
  
  .btn-cancel {
    background-color: #5bc0de;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-cancel:hover {
    background-color: #31b0d5;
  }

  .user-container {
    position: relative;
    display: inline-block;
    z-index: 110;
  }
  
  .options-container {
    position: absolute;
    top: 100%;
    left: 220%; 
    transform: translateX(-50%);
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 230px;
    z-index: 105;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .options-container.hidden {
    display: none;
  }
  
  .sidebar {
    z-index: 100;
  }
  
  .options-container button,
  .options-container a {
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: left; 
    background: none; 
  }
  
  .options-container button:hover,
  .options-container a:hover {
    background-color: #dadada;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    text-align: center;
    width: 400px;
  }
  
  .lds-dual-ring,
  .lds-dual-ring:after {
    box-sizing: border-box;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 4.2px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-text {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1.5px;
    animation: fadeInText 1.5s ease-out;
    margin-bottom: 20px;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeInText {
    0% { opacity: 0; transform: translateY(25px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  



  .change-role-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.change-role-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.change-role-modal-content label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.change-role-modal-content select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.change-role-modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.change-role-modal-content button:hover {
    background-color: #3477db;
    outline: 2px solid #3498db;
    outline-offset: 2px;
}

.hidden {
    display: none;
}
